

@media screen and (max-width: 500px) {
	.terms_of_service {
		font-size: 12px !important;
	}
}

.terms_of_service {
	position: absolute;
	display: flex;
	flex-direction: column;
	min-height: 400px;
	top: 70px;
	box-shadow: 1px 0 3px 0 black;
	background-color: white;
	z-index: 15;
	padding: 15px;
	font-size: 14px;
}

.terms_of_service span:nth-child(1) {
	margin-right: 5px;
	font-size: 15px;
	cursor: pointer;
}

.terms_of_service span:nth-child(1):hover {
	opacity: 0.8;
}

.terms_of_service span:nth-child(2) {
	font-weight: bold;
	font-size: 23px;
	margin-bottom: 20px;
}

.terms_of_service span {
	margin-top: 7px;
}

